body {
  font-family: sans-serif;
  padding-top: 1rem;
}

main {
  display: flex;
  justify-content: center;
}

div.triggers {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

div.tables {
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
}

div.table-container {
  width: 5rem;
  margin: 0.5rem;
}

button {
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.25rem 0;
  background-color: #137c59;
  border: 1px solid #065138;
  color: white;
  width: 8.6rem;
}

button:active {
  background-color: #065138;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  padding: 0.5rem;
  border: 1px solid black;
}

tr td:nth-child(2) {
  font-family: monospace;
  font-size: 14pt;
  font-weight: 600;
}

input[type="text"] {
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  width: 8rem;
  border-radius: 2px;
  border: 1px solid #065138;
  border-bottom: 2px solid #065138;
}

input[type="text"]:focus {
  border: 1px solid #137c59;
  border-bottom: 2px solid #137c59;
  box-shadow: 0px 0px 3px 0px #137c59;
}

button, input[type="text"] {
  font-size: 12pt;
}